/* 懒人图库 搜集整理 www.lanrentuku.com */
body{}

/* 返回顶部 */
.go-top{position: fixed;bottom: 40px;right: 20px;width: 46px;z-index: 999;}
.go-top a{display: block;width: 46px;height: 46px;margin-bottom: 10px;background-image: url(../images/up-down.png?);}
.go-top a:last-child{margin-bottom: 0;}
.go-top .up{background-position: 0 0px;}
.go-top .up:hover{background-position: 0 -100px;}
.go-top .down{background-position: 0 -50px;}
.go-top .down:hover{background-position: 0 -150px;}

